/*=============================
*            Block            *
=============================*/

.main-nav {
	padding-inline: var(--space-s);
	padding-block: var(--space-3xs);
}

.main-nav .active {
	display: none;
}

.main-nav ul {
	display: flex;
	gap: var(--space-s);
	list-style-type: none;
	-webkit-margin-start: 0;
	margin-inline-start: 0;
	-webkit-padding-start: 0;
	padding-inline-start: 0;
}

.main-nav li {
	font-size: var(--step-1);
	font-weight: 600;
}

.main-nav a {
	text-decoration: none;

}

.main-nav .active {
	color: var(--color-gray-dark);

}

.main-nav a:visited {
	text-decoration: none;
}

.main-content-wrapper {
	box-sizing: content-box;
	padding-inline: var(--space-s);
	padding-block-start: var(--space-s);
	padding-block-end: var(--space-s);
	--stack-gap: var(--space-xl);
}

.article {
	--stack-gap: var(--space-s);
}

.article-content p+p {
	margin-block-start: var(--stack-gap);
}

figure {
	margin: var(--space-m);
}

figure.center {
	margin-inline: auto;
}

figure.full {
	inline-size: calc(100% - var(--space-m-l));
	margin-inline: auto;
}

figcaption {
	text-align: center;
	font-style: italic;
	font-weight: 500;
	padding-block: var(--space-3xs);
}

@media (max-width: 38rem) {

	figure.large:is(.center),
	figure.medium:is(.left, .center, .right),
	figure.small:is(.left, .center, .right) {
		inline-size: calc(100% - var(--space-3xl));
		margin-inline: auto;
	}
}

blockquote {
	padding-inline: var(--space-l-xl);
	margin-block-start: var(--space-xs-s);
	border-inline-start: var(--space-3xs) var(--color-srm-09) solid;
}

figure+*,
blockquote+* {
	margin-block-start: var(--space-m-l);
}



.footer-content-wrapper {
	padding: var(--space-xs);
}


/*=====  End of Block  ======*/