/*==============================
*            Global            *
==============================*/

*,
*::before,
*::after {
	box-sizing: border-box;
}



html {
	line-height: 1.5;
}

* {
	max-inline-size: 65ch;
}

html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	text-rendering: optimizeSpeed;
	font-family: var(--sans-serif);
	color: var(--color-black);
	min-block-size: 100vh;
	min-inline-size: 100svw;
	margin-block: 0;
	margin-inline: auto;
}



img,
picture,
figure {
	max-inline-size: 100%;
	display: block;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--serif);
	max-inline-size: 55ch;
	font-weight: 700;
	text-transform: capitalize;
}

h1 {
	font-size: var(--step-4);
	line-height: var(--step-5);
}

h2 {
	font-size: var(--step-3);
	line-height: var(--step-4);
}

h3 {
	font-size: var(--step-2);
	line-height: var(--step-3);
}

h4 {
	font-size: var(--step-1);
	line-height: var(--step-2);
}

h5 {
	font-size: var(--step-0);
	line-height: var(--step-1);
}

h6 {
	font-size: var(--step--1);
	line-height: var(--step-0);
}

:is(h1, h2, h3, h4, h5)+ :is(h2, h3, h4, h5, h6) {
	font-style: italic;
}

hr {
	display: block;
	inline-size: 100%;
	color: var(--color-accent-light);
	margin-block: var(--space-m-l);
}

.page-wrapper {
	max-inline-size: 100svw;
	padding: var(--space-s-3xl);
	--stack-gap: 0;
}

@media (max-width: 38rem) {
	.page-wrapper {
		padding: 0;
	}
}


:focus {
	outline: max(1px, 0.1em) dashed currentColor;
	outline-offset: max(2px, 0.15em);
	outline-width: 3px;
}

:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible {
	outline: max(1px, 0.1em) dashed currentColor;
	outline-offset: max(2px, 0.15em);
}

blockquote {
	padding-inline: var(--space-l-xl);
	margin-block-start: var(--space-xs-s);
}

figure+*,
blockquote+* {
	margin-block-start: var(--space-m-l);
}


/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		-webkit-animation-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}

}

/*=====  End of Global  ======*/